<html>
<!-- 引入 vue 库 -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>

<!-- demo-input 的内容体 -->
<body>
  <div id="demo-input">
    <input-bind></input-bind>
  </div>
</body>

<!-- 数据绑定的 input 组件 -->
<!--组件的 template -->
<script type="text/template" id="input-bind-template">
  <div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>
</script>
<!-- 组件转换为 vue component 的 js 代码 -->
<script src="/public/js/component/input.js"></script>

<!-- 初始化 vue 根节点，加入组件 input-bind，可以看到在 id 为 demo-input
  的 div 块中，可以直接使用 <input-bind> 标签 -->
<script>
  new Vue({
    el: "#demo-input",
    components: {
      'input-bind': Demo.InputComponent
    }
  });
</script>

</html>